/*-----------estilos generales de la aplicacion tipografia-----------*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600') ;
body {
font-family : "Open Sans", sans-serif;
margin : 0;
padding : 0;

}

/*-----------estilos de la barra de navegacion-----------*/
.navbar {
box-shadow : 2px 2px 5px #000;
font-family : 'Open Sans', sans-serif;
font-weight : 800;
opacity :0.9;
text-transform : uppercase;
font-size : 14px;
position : sticky;
}

.navbar li:hover {
  color : #ffffff;
  background : #4C7C4A;
  text-decoration : none;
  transition-duration : 2s;
  cursor : pointer;
  }
  .navbar li {
  list-style : none;
  padding : 10px 10px;
  }
  .navbar .nav-item .nav-link {
  color : #4c7c4a;
  }
  .dropdown-menu .dropdown-item {
  color : #4c7c4a;
  font-weight : 800;
  font-size : 16px;
  text-decoration : none;
  transition-duration : 1s;
  text-transform : none;
  }

  .dropdown:hover > .dropdown-menu {
  display : block;
  cursor : pointer;
  
  }



/* Estilos para el botón de registro */
.nav-button {
  background-color: #48744C; /* Cambia el color de fondo según tu preferencia */
  color : #ffff; /* Cambia el color del texto según tu preferencia */
  padding: 15px 70px;
  border-radius: 70px;
  font-size : 18px;
  margin-top : 10px;
  margin-bottom : 20px;
  margin-left: 40px;
  margin-right: 40px;
  text-decoration: none;
  text-transform : uppercase;
  font-family : inherit;
  text-align : center;
  transition: background-color 0.3s; /* Agrega una transición suave al color de fondo */
}

.nav-button:hover {
  background-color: #8aca4e; /* Cambia el color de fondo al pasar el mouse por encima */
  text-decoration: none;
  box-shadow : 2px 2px 5px rgb(0 0 0 / 0.835);
  color :  #ffff;
}

/* Estilo para el botón "Recolección" */
.nav-button-recoleccion {
  background-color: #8aca4e; /* Cambia el color de fondo del botón según tus preferencias */
  color: #fff; /* Cambia el color del texto del botón */
  padding: 15px 70px;
  border-radius: 70px;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 20px; /* Ajusta el espacio izquierdo entre los botones */
  margin-right: 20px; /* Ajusta el espacio derecho entre los botones */
  text-decoration: none;
  text-transform: uppercase;
  font-family: inherit;
  text-align: center;
  transition: background-color 0.3s; /* Agrega una transición suave al color de fondo */
}

.nav-button-recoleccion:hover {
  background-color: #c9e166; /* Cambia el color de fondo al pasar el mouse por encima */
}



/*-----------Cierra estilos de la barra de navegacion-----------*/

    
/*-----------Carousel-----------*/
.carousel-item {
  max-width: 100%;
  height: auto;
  background : center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size : cover;
  
  }

/*-----------estilo de la tipografia del carrusel-----------*/

 .display-4{

 text-shadow:2px 2px 5px rgb(0 0 0 / 0.835);
 }


/*-----------Cierre estilos del Carousel-----------*/


/*-----------Estilo de todos los botones de la aplicación-----------*/

.btn {
  border-radius : 25px;
  background-color : #8aca4e;
  width : 200px;
  height : 50px;
  font-family : inherit;
  text-align : center;
  font-weight : 800;
  color : #ffff;
  padding : 10px;
  letter-spacing : 1pt;
  border-width : 3px;
  border-style : solid;
  font-size : 18px;
  margin-top : 10px;
  margin-bottom : 10px;
  text-transform : uppercase;
  
  }

  .btn:hover {
    background :#c9e166;
    color :  #4c7c4a;
    transition-duration : 1s;
    cursor : pointer;
    opacity: 0.9;
    box-shadow : 2px 2px 5px rgb(0 0 0 / 0.835);
   
    }

  /*-----------Cierra Estilo de todos los botones de la aplicación-----------*/  

  /*-----------Estilos para parrafos de la clase row-----------*/ 
    .row p {
    font-size : 20px;
    opacity : 1;
    }

  /*-----------Estilo seccion acerca de nuestra empresa pag 01-----------*/
    #Quehacemos {
    background-color : #4c7c4a;
    width : 100%;
    height : auto;
    padding-bottom : 100px;
    }
    
    
    
  /*-----------Proceso de reciclaje y reutilizacion-----------*/
  
   


  






  /*-----------Proceso de reciclaje y reutilizacion-----------*/

   /*-----------Estilo seccion video pagina 01-----------*/
     
      #primervideo {
      background-color : #ffffff;   
      /* padding: 2rem; */
      letter-spacing : 1pt;
      /* padding-bottom : 100px; */
      margin-top: 2rem;
      margin-bottom: 2rem;
      }
     
    /*-----------Estilo menu superior redes sociales barra degradada-----------*/

      .divider {
      background-color : #ffff;
      width : 150px;
      }
     
      .fas:hover {
      opacity :0.5;
      box-shadow : 2px 2px 2px #37474F;
      }
      .fab {
      color :white;
      opacity: 0.7;
      padding : 0 10px 0 10px;
      font-size : 25px;
     
      }
    
      #topbar {
      background : linear-gradient(to left, #48744C 0%, #48744C, rgb(76, 124, 74) 100%);
      }
      .fab:hover {
      color : white;
      opacity:0.7;
   
      }
      .active .fa:hover {
      color : white;
      }
      
    /*-----------Cierra Estilo menu superior redes sociales barra degradada-----------*/
          

 /* footer */
 .row {
  padding-top : 80px;
  }

 .fas {
  font-size : 3rem;
  background: #ffffff;
  border-radius: 50px;
  width:5rem;
  padding: 15px 10px 15px 10px;
  color : #4c7c4a;
  padding-top : 10px;
 
  }
 
 .list-inline-item .fa-instagram {
  background : #125688;
  color : white;
  border-radius : 60px;
  padding : 20px;
  font-size : 35px;
  width : 75px;
  box-shadow : 2px 2px 5px #000;
  }
  .list-inline-item .fa-facebook-f {
  background : #3B5998;
  color : white;
  border-radius : 60px;
  padding : 20px;
  font-size : 35px;
  width : 75px;
  box-shadow : 2px 2px 5px #000;
  }
  .list-inline-item .fa-youtube {
  background : #bb0000;
  color : white;
  border-radius : 60px;
  padding : 20px;
  font-size : 35px;
  width : 75px;
  box-shadow : 2px 2px 5px #000;
  text-align : center;
  }
  .list-inline-item .fa-whatsapp {
  background : rgb(24 230 24);
  color : white;
  border-radius : 60px;
  padding : 12px;
  font-size : 50px;
  width : 75px;
  box-shadow : 2px 2px 5px #000;
  }
  .list-inline-item {
  margin : 30px;
  margin-left : 20px;
  }
  .list-inline-item .fa-facebook-f:hover {
  opacity: .7;
  }
  .list-inline-item .fa-instagram:hover {
    opacity: .7;
  
  }
  .list-inline-item .fa-youtube:hover {
    opacity: .7;
 
  }
  .list-inline-item .fa-whatsapp:hover {
    opacity: .7;
  
  }
  .col-md-4 .fa-home {
  font-size : 1rem;
  width:40px; 
  }
  .col-md-4 .fa-envelope {
  font-size : 1rem;
  width:40px; 
  }
  .col-md-4 .fa-phone {
  font-size : 1rem;
  width:40px; 
  }
  .col-md-4 .fa-print {
  font-size : 1rem;
  width:40px; 
  }
  p {
  color :#ffffff;
  }

  

  .embed-responsive{
    box-shadow :  0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    border-color: #37474F;
  }

  .embed-responsive:hover{
    
    box-shadow :  0 8px 16px 0 rgba(0,0,0,0.2);
  }

  h2{
 color: #8aca4e;
 }



/* Estilos para la imagen de la misión */
.imagen-mision {
  width: 460px;
  height: 300px;
  border-radius: 15px; /* Agrega bordes redondos */
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); /* Agrega sombra */
  /* Agrega otros estilos según sea necesario */
}


/* Estilos para la sección de valores */
#valores {
  background-color: #f4f4f4; /* Cambia el color de fondo según tu preferencia */
  padding: 50px 0;
  text-align: center;
}

/* Estilos para el título */
#valores h2 {
  font-size: 2.5rem; /* Cambia el tamaño de fuente del título */
  color: #8aca4e; /* Cambia el color del título */
  margin-bottom: 20px; /* Ajusta el espacio inferior del título */
}

/* Estilos para el párrafo */
#valores p {
  font-size: 1.25rem; /* Cambia el tamaño de fuente del párrafo */
  color: #000000; /* Cambia el color del texto */
  margin-bottom: 30px; /* Ajusta el espacio inferior del párrafo */
}

/* Estilos para los íconos */
.icon {
  font-size: 3rem; /* Cambia el tamaño de fuente de los íconos */
  color: #8aca4e; /* Cambia el color de los íconos */
  width: 70px;
  padding: 15px;
  border-radius: 50px;
  background-color: #ffffff; /* Cambia el color de fondo de los íconos */
  box-shadow: 0 9px 28px rgba(0, 0, 0, 0.8); /* Agrega sombra a los íconos */
  margin: 0 auto; /* Centra los íconos horizontalmente */
}

/* Estilos para los íconos más pequeños */
.smaller-icon {
  font-size: 300%; /* Tamaño más pequeño */
  margin: 0; /* Elimina el margen alrededor de los iconos */
  padding: 0; /* Elimina el espacio interior de los iconos */
}


/*----estilos pagina recoleccion-------*/

/* Estilo para el contenedor específico */
.contenedor-es {
  background-color: #ffffff; /* Cambia el color de fondo del contenedor */
  padding: 20px; /* Ajusta el espacio interior del contenedor */
  border-radius: 10px; /* Agrega bordes redondos */
  margin-top: 20px; /* Ajusta el espacio superior del contenedor */
  margin-bottom: 10px; /* Ajusta el espacio inferior del contenedor */
}

/* Estilo para el texto dentro del contenedor específico */
.contenedor-es p {
  font-size: 20px; /* Tamaño de fuente */
  font-weight: bold; /* Texto en negrita */
  margin-bottom: 10px; /* Ajusta el espacio inferior del párrafo */
}

/* Estilo para el segundo párrafo dentro del contenedor específico */
.contenedor-es .texto-especial {
  font-size: 18px; /* Tamaño de fuente */
  color: #4c7c4a; /* Color del texto */
  margin-bottom: 10px; /* Ajusta el espacio inferior del párrafo */
  font-weight: normal; /* Elimina la negrita */
}

/* Estilo específico para el contenedor del formulario */
.formulario-container {
  background-color: #ffffff; /* Cambia el color de fondo del contenedor */
  padding:20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 500px;
  box-shadow : 2px 2px 5px rgba(77, 76, 76, 0.835);
  max-width: 900px; /* Ancho máximo de 900 píxeles */
  font-size: 20px; /* Tamaño de fuente */
}
form {
  background-color: #ffffff; /* Cambia el color de fondo del formulario */
  padding: 20px 30px;
  border-radius: 10px;
  margin-bottom: 10px;
  
}

/* Estilo para los campos de entrada de texto */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px; 
  margin-bottom: 2px; /* Reduzco el espacio vertical entre los campos */
  border: 1px solid #ccc;
  border-radius: 10px;  
}

/* Estilo para el botón de enviar */
button[type="submit"] {
  background-color: #8aca4e; /* Cambia el color de fondo del botón */
  color: #fff; /* Cambia el color del texto del botón */
  padding: 20px 80px;
  border: none;
  border-radius: 70px;
  font-size: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: inherit;
  transition: background-color 0.3s; 
  box-shadow : 2px 2px 5px rgb(0 0 0 / 0.835);
  font-weight: bold;
}

/* Cambia el color del botón al pasar el cursor sobre él */
button[type="submit"]:hover {
  background-color: #c9e166; /* Cambia el color de fondo al pasar el mouse por encima */
}
/* Estilo para reducir el espacio vertical entre los div col */

/* Estilo para centrar el botón utilizando margin */
.button-container {
  text-align: center; /* Alinea el contenido al centro horizontalmente */
}

.button-container button {
  margin: 0 auto; /* Centra el botón horizontalmente dentro del contenedor */
}



 .form {
    text-align: center;
    padding: 20px; 
  }

    







